<div class="row">
   <div class="col-2 card-panel red lighten-2" style="margin-top: 50px;">
      <h4 style="text-align: center; display: block; padding: 85px 0; color:white">Пользователь {{ username }} не найден</h4>
      <a href="../" class="waves-effect btn waves-light">Назад</a>
   </div>
</div>